<div class="col-md-8 form-group">        
  <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">        
</div> 
<button (click)="getSelectedRows()">Get Selected Rows</button>

<ag-grid-angular
#agGrid
style="width: 1900px; height: 500px;"
class="ag-theme-alpine"
[defaultColDef]="defaultColDef"
[autoGroupColumnDef]="autoGroupColumnDef"
[rowData]="rowData"
[columnDefs]="columnDefs"
rowSelection="multiple"
>
</ag-grid-angular>